@import "tailwindcss";
@font-face {
  font-family: Vazi;
  src: url("./assets/Vazir.ttf") format("truetype");
}

* {
  font-family: Vazir, sans-serif;
}

.message-item {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes highlight {
  0% {
    transform: perspective(600px) rotateX(0deg) scale(1);
  }
  30% {
    transform: perspective(600px) rotateX(30deg) scale(1.05);
  }
  60% {
    transform: perspective(600px) rotateX(-20deg) scale(1.02);
  }
  100% {
    transform: perspective(600px) rotateX(0deg) scale(1);
    background-color: inherit;
  }
}

.highlight-flash {
  animation: highlight 1000ms ease-in-out;
  -webkit-animation: highlight 1000ms ease-in-out;
}
