@import "tailwindcss";
@font-face {
  font-family: Vazi;
  src: url("./assets/Vazir.ttf") format("truetype");
}

* {
  font-family: Vazir, sans-serif;
}

.message-item {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
